/* clase para el fondo del bodi*/
.cinema-body{
    background: #D0D0D0;
}

/* clase para darle estilo a la barra de navegacion*/
.navbar-inverse {
    background: #082D5E;
    min-height: 10%;
    border: none;
  }
  .container-fluid{
      margin-top: 64px;
  }
.jumbotron{
    background: #087D9F;
    min-height: 500px;
    margin-bottom: 0px;
    border-radius: 0px !important;
}
.titulo-cartelera{
    min-height: 45px;
    background: #082D5E;
}
.movies-row{
    min-height: 350px;
    padding-right: 15px;
    padding-left: 15px;
    background: #087D9F;
}
.movies-column{
    margin-top: 5px;
    min-height: 330px;
    background: #087D9F;
    border: white dashed 1px;
}
.left-column{
    border-right: white dashed 1px;
}

@media (max-width: 770px){
    .rigth-column{
        display: none;
    }
    .movies-row{
        min-height: 250px;
    }
    .movies-column{
        min-height: 230px;
    }
    .jumbotron{
        min-height: 350px;
    }
}